<br />
<div class="outline">
  <div class="outer">
<!-- <mat-spinner *ngIf="spinner" class="spinner"></mat-spinner>  -->
<div class="year_nav">
  <!-- <button class="nav_btn" (click)="prevYear()">
    <i class="fa fas fa-angle-left fa-1x"></i>
  </button> -->
  <span></span>
  <span class="year">{{ currentDate | date: "y" }}</span>
  <!-- <button class="nav_btn" (click)="nextYear()">
    <i class="fa fas fa-angle-right fa-1x"></i>
  </button> -->
  <span></span>
</div>
<div class="month_nav">
  <button class="nav_btn" (click)="prevMonth()">
    <i class="fa fas fa-angle-left fa-1x"></i>
  </button>
  
  <span class="prevMonth">{{ prevDate | date: "MMMM" }}</span> 
  <span class="curMonth">{{ currentDate | date: "MMMM" }}</span>
  <span class="nextMonth">{{ nextDate | date: "MMMM" }}</span>

  <button class="nav_btn" (click)="nextMonth()">
    <i class="fa fas fa-angle-right fa-1x"></i>
  </button>

  <!-- <button (click)="print()">Click to Print</button> -->
</div>
<div class="month-grid" (scroll)="nextMonth()">
  <div class="day-names">
    <div *ngFor="let name of dayNames" class="day-name p9">
      {{ name }}
    </div>
  </div>
  <div class="weeks">
    <div *ngFor="let week of weeks" class="week">
      <ng-container *ngFor="let day of week">
          <div *ngIf="day.mDate.date() == 1"></div>
          <div *ngIf="day.mDate.date() == 1"></div>
          <div *ngIf="day.mDate.date() == 1"></div>
          <div *ngIf="day.mDate.date() == 1"></div>
          <div *ngIf="day.mDate.date() == 1"></div>
          <div *ngIf="day.mDate.date() == 1"></div>
          <div *ngIf="day.mDate.date() == 1"></div>
        <div 
          class="week-date enabled"
          (click)="selectDate(day)"
          [ngClass]="{
            today: day.today,
            selected: day.selected
          }"
        >
          <span class="date-text">{{ day.mDate.date() }}</span>
          <ng-container *ngFor="let event of event">
            <span
              class="badge"
              id="eventBadge"
              *ngIf="day.mDate.format('YYYY-MM-DD') == event.startDate"
              [ngClass]="{
                freeze: event.eventType === 'freeze',
                patchingQaDev: event.eventType === 'patchingQaDev',
                deployProd: event.eventType === 'deployProd',
                deployQa: event.eventType === 'deployQa',
                patchingProd: event.eventType === 'patchingProd',
                businessGoLive: event.eventType === 'businessGoLive'
              }"
            ></span>
          </ng-container>
        </div>
      </ng-container>

    </div>
    </div>
</div>
</div>
<div class="details">
    <ng-container *ngFor="let e of event" class="e_details">
      <span>{{e.eventDetails}}</span>
    </ng-container>
</div>
</div>

