<div class="event_form">
  <mat-card class="card">
  <h2>Add Events</h2>
  <form (ngSubmit)="onSubmit()" class="form" [formGroup]="eventFormGroup">
      <mat-grid-list cols="2" rowHeight="400px">
        <mat-grid-tile>
          <div class="tile_1">
              <mat-form-field class="field" appearance = "outline">
                  <mat-label>Application Name</mat-label>
                  <mat-select name="appName" [(ngModel)]="event.appName" formControlName="appName">
                    <mat-option *ngFor="let value of appName" [value]="value">{{value}}</mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field class="field" appearance = "outline">
                    <mat-label>Environment</mat-label>
                    <mat-select name="environment" [(ngModel)]="event.environment" formControlName="environment">
                      <mat-option *ngFor="let value of environment" [value]="value">{{value}}</mat-option>
                    </mat-select>
                  </mat-form-field>
              
            <mat-form-field class="field" appearance = "outline">
              <mat-label>Event Name</mat-label>
              <mat-select name="eventName" [(ngModel)]="event.eventName" formControlName="eventName">
                <mat-option *ngFor="let value of eventName" [value]="value">{{value}}</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field class="field" appearance = "outline">
                <mat-label>Event Type</mat-label>
                <mat-select name="eventType" [(ngModel)]="event.eventType" formControlName="eventType">
                  <mat-option *ngFor="let value of eventType" [value]="value">{{value}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            </mat-grid-tile>
            <mat-grid-tile >
              <div class="tile_2">
                <mat-form-field class="field" appearance = "outline">
                    <mat-label>Event Details</mat-label>
                    <textarea name="eventDetails" matInput [(ngModel)]="event.eventDetails" formControlName="eventDetails"></textarea>
                 </mat-form-field>
                  <mat-form-field class="field" appearance = "outline">
                      <input matInput [matDatepicker]="starDate" placeholder="Start Date" formControlName="startDate" [(ngModel)]="event.startDate">
                      <mat-datepicker-toggle matSuffix [for]="starDate"></mat-datepicker-toggle>
                      <mat-datepicker #starDate></mat-datepicker>
                    </mat-form-field >
                      <mat-form-field class="field" appearance = "outline">
                        <input matInput [matDatepicker]="enDate" placeholder="End Date" formControlName="endDate" [(ngModel)]="event.endDate">
                        <mat-datepicker-toggle matSuffix [for]="enDate"></mat-datepicker-toggle>
                        <mat-datepicker #enDate></mat-datepicker>   
                      </mat-form-field>
                      <div class="button-row">
                          <button mat-button type="submit" 
                      class="mat-raised-button mat-primary" 
                      [disabled]="!eventFormGroup.valid">Submit</button>
                      <button mat-button type="reset" class="mat-raised-button">Clear</button>
                      </div>
              </div>

                  </mat-grid-tile>
      </mat-grid-list>

          </form>
</mat-card>

<div class="mat-elevation-z8">
  <mat-table [dataSource]="datasource" matSort>
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="appName" >
      <mat-header-cell *matHeaderCellDef mat-sort-header>Application Name</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.appName}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="environment">
      <mat-header-cell *matHeaderCellDef  mat-sort-header>Environment</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.environment}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="eventName">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Event Name</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.eventName}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="eventType">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Event Type</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.eventType}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="startDate">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Start Date</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.startDate | date:"MM/dd/yy" }} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="endDate">
      <mat-header-cell *matHeaderCellDef mat-sort-header>End Date</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.endDate | date:"MM/dd/yy" }} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-icon-button><mat-icon class="mat-18">edit</mat-icon></button>
        <button mat-icon-button color="warn"><mat-icon class="mat-18">delete</mat-icon></button>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator [pageSizeOptions]="[5,10,25,100]" [pageSize] ="5"></mat-paginator>
</div>
</div>
