.event_form
  display: grid
  justify-content: center
  align-items: center
  margin-top: 10px

.card
    width: 800px

.tile_1
  width: 300px

.tile_2
  width: 300px

.field
  width: 100%
  font-size: 14px

h2
  text-align: center
  
button
  margin: 5px
  
.button-row
  margin-bottom: 20px

.search-div
  margin: 5px

.search-bar
  font-size: 13px
  width: 80%
  border-radius: 5px
  height: 30px
  margin-left: 10px
  

.button
  padding-right: 5px
  height: 30px

::ng-deep .search-form-field div.mat-form-field-underline
  display: none

::ng-deep .search-bar div.mat-form-field-infix
  border-top: 0px

::ng-deep .search-bar div.mat-form-field-wrapper
  padding-bottom: 0px
  background-color: #eee