.card
  width: 800px

.event_form
  display: grid
  justify-content: center
  align-items: center
  margin-top: 10px

.tile_1
  width: 300px

.tile_2
  width: 300px

.field
  width: 100%
  font-size: 14px

h2
  text-align: center
  
button
  margin: 5px
  
.button-row
  margin-bottom: 20px