$main-color: #3f51b5
$freeze: #a9a9a9
$deployProd: #a6ce39
$deployQa: #637b22
$patchingQaDev: #0d4b52
$patchingProd: #177e89
$businessLive: #e40c2b
  
.index_container
  display: grid
  grid-template-rows: 25px 700px 300px
  grid-template-columns: 1fr
  width: 99%
  margin: 10px
  grid-gap: 5px
  
.calender
  grid-row: 2
  margin-left: 20px


.dragger 
  grid-row: 3
  display: flex
  margin-left: 50px
  margin-top: 25px

.badge-list
  grid-row: 1
  display: flex
  justify-content: space-around

.badge
    height: 10px
    width: 10px
    border-radius: 100%
    display: inline-block
    margin-right: 5px

.freeze
  background: $freeze

.deployProd
  background: $deployProd

.deployQa
  background: $deployQa

.patchingQaDev
  background: $patchingQaDev

.patchingProd
  background: $patchingProd

.businessGoLive
  background: $businessLive

span
  font-size: 14px
  

//Drag and Drop

.drag-container, .drop-container
  width: 250px
  height: 300px
  border: 1px solid black
  display: flex
  flex-direction: column
  margin: 5px

.list-item
  background: $main-color
  color: #fff
  font-size: 14px
  margin: 2px
  padding: 10px
  text-align: center
  height: 40px
  border-radius: 5px
  &:hover
   cursor: pointer
   background-color: #3f51f9



// .appList, .dropList
//   width: 250px
//   height: 300px
//   border: 1px solid #000
//   padding: 2px
//   margin: 5px

//   .list
//     text-align: center
//     padding-top: 7px
//     font-size: 14px
//     background: $main-color
//     color: #fff
//     height: 40px
//     width: 100%
//     &:hover
//       cursor: pointer
//       background: #3f51f9

// .example-list 
//     width: 500px
//     max-width: 100%
//     border: solid 1px #ccc
//     min-height: 60px
//     display: block
//     background: white
//     border-radius: 4px
//     overflow: hidden
  
  
//   .example-box 
//     padding: 20px 10px
//     border-bottom: solid 1px #ccc
//     color: rgba(0, 0, 0, 0.87)
//     display: flex
//     flex-direction: row
//     align-items: center
//     justify-content: space-between
//     box-sizing: border-box
//     cursor: move
//     background: white
//     font-size: 14px
